body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  background-color: #478edd;
}

h1 {
  font-weight: bold;
  font-size: 45px;
  letter-spacing: 2px;
  margin-bottom: 0px;
  font-family: 'Raleway', sans-serif;
  color: white;
}

button {
  background-color: #D48EDD;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  font-size: 14px;
  border-radius: 8px;
  font-family: helvetica;
}

button:hover{background-color: #3D84A8;}

.inputSection {
  margin: 50px 0px 80px 0px;
  width: 400px;
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px;
}

.addOption {
  margin-top: 10px;
}

.resultSection {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}
